# Ignore contrib node modules
node_modules/*

# Ignore configuration file
configs/config.json

# Ignore third-party client-side dependencies
public/third-party

# Ignore built client-side application
public/application.js
