
<div id="application-container"></div>

<script src="/application.js"></script>
<script type="text/javascript">
    Application(
        {{{applicationState}}},
        document.getElementById('application-container')
    );
</script>
