/* This file is used for custom styles */
.messages-wrapper {
    margin-top: 10px;
}

.radio-station {
    cursor: default;
}

.swipe-container > div {
    min-height: 100%;
    height: 100% !important;
}

.swipe-view-content {
    padding: 0 5px;
}
